<%= form_for [post, @new_comment] do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 10, cols: 80 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
